@media screen and (max-width: 900px) and (min-width: 500px) {
  .new-in {
    &__card {
      margin: 0.3 * $spacer_S;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.4;
    }
  }
}

@media screen and (max-width: 500px)  {
  // panels will not be side by side, they will be in normal flow

  .new-in {
    // no slider system anymore
    &__slider {
      display: none;
    }

    // remove spacing to extend paragraph lines little bit (readability)
    &__card {
      margin: initial;
    }

    // cards will sit on top of each other
    &__card-container,
    &__card-container--second-panel,
    &__card-container--third-panel {
      flex-wrap: wrap;
      background-color: white;
    }

    // make panels sit on top of each other...
    &__card-container--second-panel,
    &__card-container--third-panel {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(0%);
    }


    // opacity is changed when user clicks mob slider arrows
    &__card-container {
      opacity: 1;
    }

    &__card-container--second-panel {
      // top: 100%;
      opacity: 0;
      
    }

    &__card-container--third-panel {
      opacity: 0;
      
      .new-in__card {
        flex: 1 1 300px; 
        height: 500px;
        // top: 200%;
        
      }
    }

    // allow displaying of below panels that will overflow
    &__carousel {
      overflow: initial;
    }

    // paragraphs not displayed
    p:not(.new-in__cost) {
      display: none;
    }

    &__cost {
      margin-bottom: $spacer_L;
      font-size: $fontSizeHeader;
    }

    // bigger headings

    &__earring-name {
      font-size: $fontSizeSubAnnouncement;
    }

    // mobile slider 
    &__mob-slider-left, &__mob-slider-right {
      font-size: 2.5rem;
      color: $colorFontPrimary;
      display: inline-block;
      cursor: pointer;
      user-select: none;
    }

    // &__title {}

  }

  .text-content-wrapper {
    @include layoutGuide();
    width: 95%;
  }

}
