/* BUTTONS */

/* 
normal btn : btn
options:
bright btn : --bright (to use on dark bg)
outline btn (transparent) : --transparent
animation options:
accent bg color on hover : --fancy-hover-bg
text slide anim : --slide-up
levitate with shadow : --levitate

*/

.btn {
  font-family: $fontStackContent;
  font-size: $fontSizeCTA;
  color: $colorFontAlt;
  background-color: $colorAccentPrimary;
  padding: 2rem 4rem;
  border-radius: 70px;
  display: inline-block;
  margin-top: 1rem;
  transition: all 0.1s ease-in;
  overflow: hidden;

  &--bright {
    color: $colorAccentPrimary;
    background-color: $colorFontAlt;
  }

  &--transparent {
    background-color: initial;
    color: $colorAccentPrimary;
    border: 1px solid $colorAccentPrimary;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
    color: $colorFontAlt;

    &.btn--transparent {
      color: $colorAccentPrimary;
    }

    &.btn--fancy-hover-bg {
      background-color: $colorUnderlineMenu;
    }

    &.btn--slide-up {
      div {
        animation: text-slide-up 0.3s ease-in-out;
  
        @keyframes text-slide-up {
          45% {
            opacity: 0.8;
            transform: translateY(-200%);
          }
          46% {
            // hiding the element while it rushes down (teleport effect)
            opacity: 0;
          }
          55% {
            transform: translateY(200%);
          }
          56% {
            opacity: 0;
          }
          57% {
            opacity: 1;
          }
          100% {
            transform: translateY(0%);
          }
        }
      }
    }
  }

  &--levitate:hover,
  &--levitate:focus {
    transform: scale(1) translateY(-3px);
    box-shadow: 10px 10px 5px rgb(235, 235, 235);
  }
}