/* ====
FONTS
==== */

/* font stacks */
$fontStackHeaders: "Amiri", serif;
// $fontStackHeaders: 'Benne', serif;
// $fontStackHeaders: 'Pompiere', serif;

$fontStackContent: "Comic Neue", cursive;

/* font sizes */
$fontSizeSmallerContentText: 1.5rem;
$fontSizeContentText: 1.7rem;
$fontSizeHeader: 2rem;
$fontSizeSiteTitle: 3.9rem;
$fontSizeSiteTitle_mob: 2.5rem;
$fontSizeCTA: 2.1rem;
$fontSizeFavs: 2.3rem;
$fontSizeFooterSiteTitle: 2.6rem;
$fontSizeSubAnnouncement: 4.6rem;
$fontSizeAnnouncement: 11rem;

/* ====
COLORS
==== */

/** global palette **/ 
$colorAccentPrimary: #006c76;
$colorFontPrimary: #173336;
$colorFontAlt: #f3f3f3; // on dark bg

// hero background
$colorHeaderBg1: #002a30; 
$colorHeaderBg2: #007d8d;
$colorHeaderBg3: #7c1785;
$colorHeaderBg4: #1963ed;
$colorHeaderDropdownMenuBg: $colorFontAlt; 

// optional feature: random hero colors on load
:root {
  --colorHeaderBg1: #014d57; 
  --colorHeaderBg2: #068596;
  --colorHeaderBg3: #7c1785;
  --colorHeaderBg4: #1963ed;
}

// other
$colorUnderlineMenu: #d654e1; // +burger stroke
$colorBurgerActiveStroke: $colorFontPrimary;


/* ====
LAYOUT 
==== */

$sectionSpacer: 6rem;

// z-indexes
$zSiteHeader: 5;
$zMenuUnderline: -5;
$zHero: -10;
$zHeroOverlay: -15;

