/* variables, mixins, functions... */

/* fonts */
$fontStackHeaders: 'Amiri', serif; 
// $fontStackHeaders: 'Benne', serif;
// $fontStackHeaders: 'Pompiere', serif;

$fontStackContent: 'Comic Neue', cursive;


/* font sizes */
$fontSizeContentText: 1.6rem;
$fontSizeHeader: 2rem;
$fontSizeSiteTitle: 3.9rem;
$fontSizeSiteTitle_mob: 2.5rem;
$fontSizeCTA: 2.1rem;
$fontSizeFavs: 2.3rem;
$fontSizeFooterSiteTitle: 2.6rem;
$fontSizeSubAnnouncement: 4.6rem;
$fontSizeAnnouncement: 11rem;


/* COLORS */

// backgrounds
$colorHeaderBg1: #014d57;
$colorHeaderBg2: #068596;
$colorHeaderBg3: #7c1785;
$colorHeaderBg4: #1963ed;
$colorHeaderDropdownMenuBg: #f3f3f3;

// font colors
$colorTextOnDarkBg: $colorHeaderDropdownMenuBg;
$colorTextNormal: rgb(46, 46, 46);
$ctaBtn: $colorHeaderBg1;

// other
$colorUnderlineMenu: lighten($colorHeaderBg3,30%); //#d654e1

// z-indexes
$zSiteHeader: 5;
$zMenuUnderline: -5;
$zHero: -10;
$zHeroOverlay1: -15;
$zHeroOverlay2: -20;


