/* variables, mixins, functions... */

/* fonts */
$fontStackHeaders: 'Amiri', serif; 
// $fontStackHeaders: 'Benne', serif;
// $fontStackHeaders: 'Pompiere', serif;

$fontStackContent: 'Comic Neue', cursive;


/* font sizes */
$fontSizeContentText: 1.6rem;
$fontSizeHeader: 1.8rem;
$fontSizeSiteTitle: 3.3rem;
$fontSizeCTA: 2.1rem;
$fontSizeFavs: 2.3rem;
$fontSizeFooterSiteTitle: 2.6rem;
$fontSizeSubAnnouncement: 4.6rem;
$fontSizeAnnouncement: 11rem;


/* COLORS */

// backgrounds
$colorHeaderBg1: #006674;
$colorHeaderBg2: #068596;

// font colors
$colorTextOnDarkBg: rgb(230, 230, 230);
$ctaBtn: $colorHeaderBg1;

// other
$colorUnderlineMenu: rgb(173, 21, 187);

// z-indexes
$zHero: -5;


