@import './resets';
@import './config';
@import './typography';
@import './utilities';
@import './desktop';


/* =======
  INDEX
========== */

/* HEADER */

.site-header {
  color: $colorTextOnDarkBg;
  font-size: $fontSizeHeader;
  height: auto;
  padding: 3vh 0;

  * {
    color: inherit;
  }
  
  &__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-family: $fontStackHeaders;
    font-size: $fontSizeSiteTitle;
    text-align: center;
    flex-grow: 1;
  }

  &__language-and-cart-wrapper {
    display: flex;
    flex-basis: 20%;

    div {
      text-align: right;
      width: 100%;
      display: block;
    }
  }

  &__cart {
    display: inline-block;
    margin-left: 20px;
  }

  &__nav {
    flex-basis: 20%;
    
    ul {
      display: flex;
      list-style: none;
  
      li:not(li:last-child) {
        margin-right: 20px;
      }
  
    }
  }
}

.hero {
  font-family: $fontStackHeaders;
  color: $colorTextOnDarkBg;
  text-align: center;
  line-height: 1;
  position: absolute;
  z-index: -5;
  top: 0; left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top right, $colorHeaderBg1, $colorHeaderBg2);
  display: flex;
  justify-content: center;
  align-items: center;

  &__showcased-name {
    font-size: $fontSizeAnnouncement;
  }

  &__showcased-info {
    font-size: $fontSizeSubAnnouncement;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__showcased-name, &__showcased-info {
    margin-bottom: 2rem;
  }

  &__cta {
    font-family: $fontStackContent;
    font-size: $fontSizeCTA;
    color: $ctaBtn;
    background-color: $colorTextOnDarkBg;
    padding: 2rem 4rem;
    border-radius: 70px;
    display: inline-block;
    margin-top: 1rem;
  }



}